{% extends 'blog/base.html' %}
{% block description %}This is the description for list of post{% endblock %}
{% block title %}List of blog post{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1>Our Latest Post</h1>
        </div>
        {% for post in posts %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title  }}</a></h2>
            <small>Written by {{ post.author }} on{{ post.published }}  in <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a> </small>
            <hr>
            {{ post.content|truncatewords:40|linebreaks }}
        {% endfor %}
        {% include 'blog/paginator.html' with page=posts %}
    </div>
    <div class="col-md-4">
        <div class="page-header">
            <h1>Sidebar</h1>
        </div>
    </div>
</div>
{% endblock %}