{% extends 'blog/base.html' %}

{% block title %}Backend Post{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Author</th>
                    <th>Published</th>
                    <th>Status</th>
                    <th>Edit Post</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                {% if post.status == 'draft' %}
                    <tr class="table-danger">
                        <td>{{ post.title }}</td>
                        <td>{{ post.slug }}</td>
                        <td>{{ post.author }}</td>
                        <td>{{ post.published }}</td>
                        <td>{{ post.status }}</td>
                        <td>
                            <a href="{% url 'blog:edit_post' slug=post.slug %}">
                                <button type="button" class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.slug }}</td>
                        <td>{{ post.author }}</td>
                        <td>{{ post.published }}</td>
                        <td>{{ post.status }}</td>
                        <td>
                            <a href="{% url 'blog:edit_post' slug=post.slug %}">
                                <button type="button" class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% include 'blog/paginator.html' with page=posts %}
    </div>
{% endblock %}